
/**
 *  @description: 项目依赖的基础样式工具、变量和方法， 可以全局注入
 *  @author: 则丸
 *  @weChat: yuwq1098
 *  @producer: 海康威视 & 易立德
 * */
@import '~@/assets/fonts/iconfont.css'
/* stylus样式变量 */
@import './variable.styl'
/* stylus样式混合方法 */
@import './mixin.styl'
/* stylus样式工具类 */
@import './tool.styl'