/**
 *  @description: 项目依赖的stylus样式工具类,
 *      https://www.zhangxinxu.com/jq/stylus/selectors.php
 *  @author: 则丸
 *  @weChat: yuwq1098
 *  @producer: 海康威视 & 易立德
 * */
/* 清浮动 */
.f__clearfix
    *zoom 1
    &:after
        visibility hidden
        display block
        font-size 0
        content ''
        clear both
        height 0
.f__fl
    float left
.f__fr
    float right
.f__cb
    clear both
/* 文本对齐 */
.f__tal
    text-align left
.f__tac
    text-align center
.f__tar
    text-align right