/**
 *  @description: 项目依赖的stylus样式变量
 *  @author: 则丸
 *  @weChat: yuwq1098
 *  @producer: 海康威视 & 易立德
 * */
/**
 *   变量（variable）（$）
 *       $c_   [color 颜色]
 *       $s_   [size 尺寸]
 *       $ff_  [font-family 字体类型]
 *       $cb_  [cubic-bezier 贝塞尔曲线]
 *       $z_  [z-index 层级]
 * */
/* 颜色 */
$c_success = rgba(32, 223, 159, 1)
$c_warning = #EEB140
$c_info = #288CF0
$c_error = #F53100
$c_website_bg = #222431
$c_website_base_font = #f7f7f7
/* 颜色 */
$s_base_font = 14px